@use './variables';

#contact {
    .contact-container {
        justify-content: space-around;
        align-items: center;
        background-color: variables.$background-inlay;
        width: 70%;
        border-radius: 10px;
        margin-top: 1rem;
        padding: 2rem;

        .contact-text {
            width: 50%;

            h1,
            h3 {
                color: variables.$h1;
                text-align: left;
            }
            h3 {
                margin-top: 0;
            }
        }
    }
    .contact-form {
        width: 60%;
        border: 4px solid variables.$background-red;
        border-radius: 10px;
        padding: 2rem;
        margin-left: 2rem;

        label {
            color: variables.$links;
            font-family: variables.$font1;
            padding: 1rem;
            text-align: center;
        }
        input, textarea {
            color: variables.$link2;
            border: 3px solid variables.$background-red;
            border-radius: 10px;
            padding: .5rem;
            margin-top: 1rem;
        }

        #g-recaptcha-response {
            display: block !important;
            position: absolute;
            margin: -50px 0 0 0 !important;
            z-index: -999999;
            opacity: 0;
        }

        button {
            width: 30%;
            margin: 0 auto;
            border: 3px solid variables.$background-red;
            border-radius: 10px;
            background-color: variables.$button;
            color: variables.$link2;
            font-family: variables.$font2;
            letter-spacing: 1mm;
            font-size: 1rem;
        }
    }
}