@use "./variables";

footer {

    .footer-container {
        margin-top: 2rem;
        p {
            font-family: variables.$font2;
            color: variables.$h1;
            letter-spacing: 2px;
        }
        a {
            color: variables.$link2;

            :visited {
                color: variables.$link2;
            }
        }
    }
}