@use "./variables";

header {
    background-color: variables.$background-red;
    height: 20vh;

    .container {
        max-width: 1224px;
        width: 90%;
        margin: 0 auto;

        .navbar {
            min-height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                margin-top: 1rem;
                width: 20%;
            }
            
            .nav-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 60px;

                .nav-link{
                    letter-spacing: 2px;
                    color: variables.$links;
                    transition: 0.3s ease-out;
                    font-size: 1rem;
                    padding: 20px;
                    margin-top: 1rem;
                }
                .nav-link:hover{
                    color: dodgerblue;
                }
            }
        }
       
        .hamburger{
            display: none;
            cursor: pointer;
            
            .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            background-color: white;
            }
        }     
    }
}

.header-text-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    h1 {
        // color: variables.$h1;
        // text-shadow: 2px 2px 2px variables.$h2purple;
    }

    h1,
    p {
        text-align: center;
    }

    p {
        // color: variables.$accent;
        font-style: italic;
        font-weight: 600;
        letter-spacing: 1mm;
    }

    // scroll down button styles
    .scroll-down {
        position: absolute;
        bottom: 10%;
        left: 50%;
        font-size: 60px;
        animation: 3s infinite ease-in-out pulse;

        &:hover {
            cursor: pointer;
            // color: rgba(variables.$nav-links2, 0.8);
            transition: 0.4s;
        }
    }
}