// TEXT COLOURS
    $h1: #f5f5f5;
    $links: #f5f5f5;
    $link2: #f9e3e3;


// BACKGROUND COLOURS
    $background-red: #460026;
    $background-inlay: #5d0033;
    $button: #6e1144;


// FONTS

    // Font 1
    $font1: "Open Sans";

    // Font 2
    $font2: "Tilt Warp";