html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

nav,
p {
  font-family: "Tilt Warp", sans-serif;
}

p {
  font-size: 1rem;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
fieldset,
input,
textarea {
  border: none;
  background-color: transparent;
}

footer {
  font-weight: 400;
}
footer p {
  font-family: "Open Sans";
  padding: 15px 0;
  text-align: center;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 1901px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.75mm;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.75mm;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

#to-top {
  position: fixed;
  bottom: 15px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  text-decoration: none;
  display: none;
}
#to-top i {
  font-size: 1.75rem;
}

#to-top.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background-color: #460026;
  height: 20vh;
}
header .container {
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
}
header .container .navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .navbar .logo {
  margin-top: 0.5rem;
  width: 20%;
}
header .container .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
header .container .navbar .nav-menu .nav-link {
  letter-spacing: 2px;
  color: #f5f5f5;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 1rem;
  padding: 20px;
  margin-top: 1rem;
}
header .container .navbar .nav-menu .nav-link:hover {
  color: #f9e3e3;
  letter-spacing: 4px;
}
header .container .hamburger {
  display: none;
  cursor: pointer;
}
header .container .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.header-text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}
.header-text-flex h1,
.header-text-flex p {
  text-align: center;
}
.header-text-flex p {
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1mm;
}
.header-text-flex .scroll-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 60px;
  -webkit-animation: 3s infinite ease-in-out pulse;
          animation: 3s infinite ease-in-out pulse;
}
.header-text-flex .scroll-down:hover {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body {
  background-color: #460026;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5d0033;
  width: 70%;
  border-radius: 10px;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
main .main-container .main-text {
  width: 60%;
}
main .main-container .main-text h1, main .main-container .main-text h2 {
  color: #f5f5f5;
  text-align: left;
}
main .main-container .main-text span {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 30px;
}
main .main-container .main-logo img {
  width: 300px;
}

footer .footer-container {
  margin-top: 2rem;
}
footer .footer-container p {
  font-family: "Tilt Warp";
  color: #f5f5f5;
  letter-spacing: 2px;
}
footer .footer-container a {
  color: #f9e3e3;
}
footer .footer-container a :visited {
  color: #f9e3e3;
}