html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

nav,
p {
  font-family: "Tilt Warp", sans-serif;
}

p {
  font-size: 1rem;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
fieldset,
input,
textarea {
  border: none;
  background-color: transparent;
}

footer {
  font-weight: 400;
}
footer p {
  font-family: "Open Sans";
  padding: 15px 0;
  text-align: center;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 1901px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.75mm;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.75mm;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

#to-top {
  position: fixed;
  bottom: 15px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  text-decoration: none;
  display: none;
}
#to-top i {
  font-size: 1.75rem;
}

#to-top.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background-color: #460026;
  height: 20vh;
}
header .container {
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
}
header .container .navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .navbar .logo {
  margin-top: 0.5rem;
  width: 20%;
}
header .container .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
header .container .navbar .nav-menu .nav-link {
  letter-spacing: 2px;
  color: #f5f5f5;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 1rem;
  padding: 20px;
  margin-top: 1rem;
}
header .container .navbar .nav-menu .nav-link:hover {
  color: #f9e3e3;
  letter-spacing: 4px;
}
header .container .hamburger {
  display: none;
  cursor: pointer;
}
header .container .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.header-text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}
.header-text-flex h1,
.header-text-flex p {
  text-align: center;
}
.header-text-flex p {
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1mm;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-top: 30px;
  z-index: 10;
}
.hamburger .bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: white;
  border: none;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .about-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5d0033;
  width: 70%;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1.5rem;
}
#about .about-container .about-text {
  width: 40%;
}
#about .about-container .about-text h1,
#about .about-container .about-text h3 {
  color: #f5f5f5;
  text-align: left;
}
#about .about-container .about-logo img {
  width: 300px;
}
#about .bk-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5d0033;
  width: 70%;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1.5rem;
}
#about .bk-container .bk-text {
  width: 60%;
}
#about .bk-container .bk-text h2 {
  font-family: "Tilt Warp";
  color: #f5f5f5;
  text-align: right;
}
#about .bk-container .bk-text p {
  font-family: "Open Sans";
  color: #f5f5f5;
  text-align: right;
}
#about .bk-container .bk-pic img {
  width: 300px;
  border-radius: 10px;
  border: 4px solid #460026;
}
#about .jb-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5d0033;
  width: 70%;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1.5rem;
}
#about .jb-container .jb-text {
  width: 60%;
}
#about .jb-container .jb-text h2 {
  font-family: "Tilt Warp";
  color: #f5f5f5;
  text-align: left;
}
#about .jb-container .jb-text p {
  font-family: "Open Sans";
  color: #f5f5f5;
  text-align: left;
}
#about .jb-container .jb-pic img {
  width: 300px;
  border-radius: 10px;
  border: 4px solid #460026;
}

#brands {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#brands .brands-list {
  padding-left: 0;
}
#brands .brands-list li a {
  font-family: "Tilt Warp";
  color: #f9e3e3;
}
#brands .brands-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5d0033;
  width: 70%;
  border-radius: 10px;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#brands .brands-container .brands-text {
  width: 60%;
}
#brands .brands-container .brands-text h1 {
  color: #f5f5f5;
  text-align: left;
}
#brands .brands-container .brands-text h2 {
  color: #f9e3e3;
  font-size: 2rem;
  text-align: left;
}
#brands .brands-container .brands-logo img {
  width: 200px;
}
#brands .canna-syrup-container {
  border: 3px solid mediumaquamarine;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lavender;
  width: 70%;
  border-radius: 10px;
  margin-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#brands .canna-syrup-container .canna-syrup-text {
  width: 60%;
}
#brands .canna-syrup-container .canna-syrup-text h2 {
  color: salmon;
  text-align: right;
}
#brands .canna-syrup-container .canna-syrup-text p {
  font-family: "Open Sans";
  color: sandybrown;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
}
#brands .canna-syrup-container .canna-syrup-logo img {
  width: 300px;
  border-radius: 10px;
  border: 2px solid mediumaquamarine;
}
#brands .higher-high-container {
  border: 3px solid #7ac943;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5ecda;
  width: 70%;
  border-radius: 10px;
  margin-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#brands .higher-high-container .higher-high-text {
  width: 60%;
}
#brands .higher-high-container .higher-high-text h2 {
  color: #7ac943;
  text-align: left;
}
#brands .higher-high-container .higher-high-text p {
  font-family: "Open Sans";
  color: #62a333;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}
#brands .higher-high-container .higher-high-logo {
  border: 2px solid #7ac943;
  border-radius: 10px;
  padding: 1rem 0.75rem;
}
#brands .higher-high-container .higher-high-logo img {
  width: 300px;
}
#brands .dp-bakery-container {
  border: 3px solid #286aa5;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  width: 70%;
  border-radius: 10px;
  margin-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#brands .dp-bakery-container .dp-bakery-text {
  width: 60%;
}
#brands .dp-bakery-container .dp-bakery-text h2 {
  color: #286aa5;
  text-align: right;
}
#brands .dp-bakery-container .dp-bakery-text p {
  font-family: "Open Sans";
  color: #1960a0;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
}
#brands .dp-bakery-container .dp-bakery-logo {
  border: 2px solid #286aa5;
  border-radius: 10px;
  padding: 0.75rem 1rem;
}
#brands .dp-bakery-container .dp-bakery-logo img {
  width: 300px;
  border-radius: 10px;
}
#brands .terp-cream-container {
  border: 3px solid #fadc00;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  width: 70%;
  border-radius: 10px;
  margin-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#brands .terp-cream-container .terp-cream-text {
  width: 60%;
}
#brands .terp-cream-container .terp-cream-text h2 {
  color: #d2426b;
  text-align: left;
}
#brands .terp-cream-container .terp-cream-text p {
  font-family: "Open Sans";
  color: #8e676a;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}
#brands .terp-cream-container .terp-cream-logo {
  border: 2px solid #fadc00;
  border-radius: 10px;
  padding: 0.75rem 1rem;
}
#brands .terp-cream-container .terp-cream-logo img {
  height: 300px;
  border-radius: 10px;
}
#brands .flm-container {
  border: 3px solid #e3b13f;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6eded;
  width: 70%;
  border-radius: 10px;
  margin-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#brands .flm-container .flm-text {
  width: 60%;
}
#brands .flm-container .flm-text h2 {
  color: #e3b13f;
  text-align: right;
}
#brands .flm-container .flm-text p {
  font-family: "Open Sans";
  color: #e0ba5a;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
}
#brands .flm-container .flm-logo {
  border: 2px solid #e3b13f;
  border-radius: 10px;
  padding: 0.75rem 1rem;
}
#brands .flm-container .flm-logo img {
  width: 200px;
  border-radius: 10px;
}

#contact .contact-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5d0033;
  width: 70%;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 2rem;
}
#contact .contact-container .contact-text {
  width: 50%;
}
#contact .contact-container .contact-text h1,
#contact .contact-container .contact-text h3 {
  color: #f5f5f5;
  text-align: left;
}
#contact .contact-container .contact-text h3 {
  margin-top: 0;
}
#contact .contact-form {
  width: 60%;
  border: 4px solid #460026;
  border-radius: 10px;
  padding: 2rem;
  margin-left: 2rem;
}
#contact .contact-form label {
  color: #f5f5f5;
  font-family: "Open Sans";
  padding: 1rem;
  text-align: center;
}
#contact .contact-form input, #contact .contact-form textarea {
  color: #f9e3e3;
  border: 3px solid #460026;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 1rem;
}
#contact .contact-form #g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}
#contact .contact-form button {
  width: 30%;
  margin: 0 auto;
  border: 3px solid #460026;
  border-radius: 10px;
  background-color: #6e1144;
  color: #f9e3e3;
  font-family: "Tilt Warp";
  letter-spacing: 1mm;
  font-size: 1rem;
}

body {
  background-color: #460026;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5d0033;
  width: 70%;
  border-radius: 10px;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
main .main-container .main-text {
  width: 60%;
}
main .main-container .main-text h1, main .main-container .main-text h2 {
  color: #f5f5f5;
  text-align: left;
}
main .main-container .main-text span {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 30px;
}
main .main-container .main-logo img {
  width: 300px;
}

footer .footer-container {
  margin-top: 2rem;
}
footer .footer-container p {
  font-family: "Tilt Warp";
  color: #f5f5f5;
  letter-spacing: 2px;
}
footer .footer-container a {
  color: #f9e3e3;
}
footer .footer-container a :visited {
  color: #f9e3e3;
}

@media (max-width: 1365px) {
  /* HOMEPAGE */
  #home .main-text h2 {
    font-size: 2.25rem;
  }
  #home .main-text span {
    font-size: 1.25rem;
  }
}
@media (max-width: 1270px) {
  /* HOMEPAGE */
  #home .main-text {
    margin-right: 1.5rem;
  }
  #home .main-logo {
    width: 250px;
  }
}
@media (max-width: 1250px) {
  /* HOMEPAGE */
  #home .main-text h2 {
    font-size: 2rem;
  }
  #home .main-text span {
    font-size: 1rem;
  }
}
@media (max-width: 1134px) {
  /* HOMEPAGE */
  #home .main-text h2 {
    font-size: 1.75rem;
  }
  #home .main-text span {
    font-size: 1rem;
  }
}
@media (max-width: 1015px) {
  /* HOMEPAGE */
  #home .main-text h1 {
    font-size: 3rem;
  }
  #home .main-text h2 {
    font-size: 1.5rem;
  }
  #home .main-text span {
    font-size: 0.75rem;
  }
  #home .main-logo {
    width: 225px;
  }
}
@media (max-width: 900px) {
  #home .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #home .main-text {
    width: 100%;
  }
  #home .main-text h1, #home .main-text h2, #home .main-text span {
    text-align: center;
  }
  #home .main-text h2 {
    margin-top: 0;
  }
  #home .main-text span {
    width: 55%;
  }
  #home .main-logo {
    margin-top: 2rem;
  }
  #about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about .about-container .about-text {
    width: 100%;
  }
  #about .about-container .about-text h1, #about .about-container .about-text h2, #about .about-container .about-text h3 {
    text-align: center;
  }
  #about .about-container .about-text h2 {
    margin-top: 0;
  }
  #about .about-container .about-logo {
    margin-top: 2rem;
  }
  #about .bk-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .bk-container .bk-text {
    width: 90%;
  }
  #about .bk-container .bk-text h2, #about .bk-container .bk-text p {
    text-align: center;
  }
  #about .jb-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about .jb-container .jb-text {
    width: 90%;
  }
  #about .jb-container .jb-text h2, #about .jb-container .jb-text p {
    text-align: center;
  }
}
/* MOBILE */
@media (max-width: 801px) {
  /* HEADER */
  header .container .hamburger {
    display: block;
  }
  header .container .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header .container .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  header .container .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  header .container .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .container .nav-item {
    margin: 16px 0;
  }
  header .container .nav-menu.active {
    left: 0;
  }
  footer p, footer a {
    font-size: 0.75rem;
  }
}